* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body {
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    position: center;
    object-fit: contain;
  }
  .parallax {
    background-image: url("https://lh3.googleusercontent.com/rBIB3-cTvgYL4uoMURJVnHgJPxSWrIFUUQNYlPel1QRU3vTAebc2wzGuDDUwR0xONec_zws90QADrYErn-PDkwndcBP4voDyzAJvijLCSCtYO0Mc1YxMIGeB_rfpVwraTXCzYxOvlg=w2400");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: center;
    object-fit: contain;
  }
  .navbar {
    position: fixed top;
    margin-bottom: 2em;
  }
  .section {
    min-height: 200px;
    border-radius: 15px;
    padding: 1em;
    object-position: center;
    background-color: rgba(77, 163, 163, 0.363);
    margin: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration-color: rgb(0, 0, 0);
  }

  .copy_text {
    
    font-size: large;
    border-radius: 15px;
    padding: 1em;
    object-position: center;
    object-fit: contain;
    text-decoration-style: solid;
    text-decoration-color: rgb(147, 164, 167);
    background-color: rgba(89, 110, 110, 0.904);
  }
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
  }
